html, body {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  background-color: #dddddd;
}

header, nav, section, footer {
  /*border: 1px solid black; */
}

#wrap {
  width: 70%;
  /*border: 2px solid black;*/
  margin: 0 auto;
  background-color: white;
}

header {
  text-align: center;
  padding: 10px;
}

header img {
  width: 100%;
}

nav {
  background-color: #E82121;
  padding: 20px 0;
  font-size:15px;
  font-weight: bold;
  text-align: center;
}

nav a {
  color: white;
  padding: 20px 40px;
  text-decoration: none;
}

nav a:hover{
  background-color: #dddddd;
  color: white;
}

nav li {
  display: inline;
}

nav ul  {
  margin: 0;
  padding: 0;
}

section {
  padding: 40px;
  overflow: auto;
  font-size: 100%;
}

section h1 {
  color: black;
  margin: 0;
  font-size: 200%;
}

footer {
  background-color: #E82121;
  color: white;
  text-align: center;
  padding: 10px;
}

.tide{
  width: 30%;
  float: right;
}

.button{
  background-color: green;
  color: white;
  padding: 20px;
  font-size: 150%;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 100px;
  display: inline-block;
